<!DOCTYPE html>
<html>
<head>
  <title>Edit Student</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <style>
    body {
      background-color: #e7e7e7;
    }    
    .navbar-expand-lg .navbar-nav .nav-link
    {
      font-weight: bold;
    }
  </style>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">  
    <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" href="/">Students</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/doctors">Doctors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/semsters">Semesters</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/courses">Courses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Team">Team</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <div class="row d-flex flex-column my-4">
      <div class="card">
        <div class="card-body text-center py-4">
            {% if ret == "True" %}
                <div class="alert alert-success">Student info has been updated</div>
            {% elif ret == "False" %}
                <div class="alert alert-danger">Error!</div>
            {% endif %}
          <h2>Edit Student</h2>
          <form action="/edit_student" METHOD="POST">
            <div class="mb-3 text-left font-weight-bold">
              <label for="NID" class="form-label text-left">National ID:</label>
              <input name="nid" type="number" class="form-control" id="NID" placeholder="Student National ID" value="{{student[0]}}" readonly>
            </div>
            <div class="mb-3 text-left font-weight-bold">
              <label for="std_name" class="form-label text-left">Student Name:</label>
              <input name="std_name" type="text" class="form-control" id="std_name" placeholder="Student Name" value="{{student[1]}}">
            </div>
            <div class="mb-3 text-left font-weight-bold">
              <label for="semster" class="form-label text-left">Semster:</label>
              <select name="semster" class="form-control" id="semster" value="{{student[2]}}">
                {% for semster in semsters %}
                  <option value="{{semster[0]}}">{{semster[1]}}</option>
                {% endfor %}
              </select>
            </div>
            <button type="submit" class="btn btn-success px-5">Save</button>
          </form>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
